<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211944329141-rftm5jei4u8sss4f46ambrr4kkh4f6hf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211944329141-rftm5jei4u8sss4f46ambrr4kkh4f6hf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>211944329141-30t44j5br74obhsajbh4quq93coabqi7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpjLuwHfGIJ8SEN1CkCdvgz2kB5dac-Oo</string>
	<key>GCM_SENDER_ID</key>
	<string>211944329141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wtf.liempo.instasend</string>
	<key>PROJECT_ID</key>
	<string>instasend-ph</string>
	<key>STORAGE_BUCKET</key>
	<string>instasend-ph.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211944329141:ios:08c31e03f7dc4a4f1353fc</string>
</dict>
</plist>